<!DOCTYPE html>
<html ng-app="app">
<head>

<meta charset="ISO-8859-1">
<title>User CRUD</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="view/app.js"></script>
<style>
a {
	cursor: pointer;
	background-color: lightblue;
}
</style>
</head>
<body>
	<div ng-controller="GameController">
			<table class="gameBoard" >
				<tr>
					<td width="50">Player1:</td>
					<td><input type="text" id="id" ng-model="player1.id" /></td>

					<td width="50">Player2</td>
					<td><input type="text" id="name" ng-model="player2.id" /></td>

					<td width="100"></td>
					<td><button class="btn" type="submit" ng-model="start" ng-click="startGame(player1.id,player2.id)">Start</button></td>
				</tr>
			</table>
        <p ng-model="board.currentPlayer.playerId"> Current Player:{{board.currentPlayer.playerId}}</p>
        <p ng-model="board.gameStatus"> Game Status:{{board.gameStatus}}</p>
        <p ng-model="board.winner"> Winner:{{board.winner}}</p>

        <table>
            <tr >
                <td>{{board.player1.playerId}}</td>
            <td ng-repeat="pit in board.player1.pits track by $index" > <button ng-click="playGame(6-$index)" class="btn" type="submit" ng-style="{ 'color' : ($index === 0) ? 'Green' : 'Red' }" ng-disabled="board.player2.playerId==board.currentPlayer.playerId">{{pit}}</button></td>
                <td></td>
            </tr>

            <tr ><td></td>
                <td ng-repeat="pit in board.player2.pits  track by $index" > <button ng-click="playGame($index)" class="btn" type="submit" ng-style="{ 'color' : ($index === 6) ? 'green' : 'red' }" ng-disabled="board.player1.playerId==board.currentPlayer.playerId">{{pit}}</button></td>
                <td>{{board.player2.playerId}}</td>
            </tr>
        </table>



	</div>
</body>
</html>